# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/

# Logs
*.log

# NuGet
*.nupkg
*.snupkg
packages/

# Entity Framework migrations snapshots
# (remova se quiser versionar migrations)
# Migrations/

# Others
*.db
*.DS_Store
